$bluedark: #002057;
$offwhite: #eee8d6;
$blackdark: #1d1e21;
$gris: #88847d;
$whitepure: #fff;
$bluestrong: #020f25;
$whitegrey: #f0f0f0;
$bluesolf: rgb(115, 126, 163);
$text: #6e7286;
$button: #799ba8