@use "/sass/abstracts/" as*;
 footer {
  padding: 10px;
  background-color: $bluedark;
  text-align: center;
  p {
    color: $whitepure;
  }
 }

//   @media only screen and (width >= 1024px) {
//     .contact-link {
//       margin-left: 280px;
//   }
// }