  
  .contact-link > a {
    font-size: 30px;
    color: $blackdark;
    margin-left: 70px;
    margin-top: 15px;
  }

  @media only screen and (width >= 1024px) {
    .contact-link {
      margin-left: 280px;
  }
}