@use "./sass/abstracts/" as *;
@use "./sass/styles/resets.scss" as *;
@use "./sass/styles/backgrounds" as *;
@use "./sass/layout/footer.scss" as *;

html {
    scroll-behavior: smooth;
  }

  body {
    background-color: transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  nav, .navlinks-container {
    transition: 0.5s;
  }

  nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }

  .nav-logo img {
    position: absolute;
    width: 150px;
  }

  .backdrop-transitioning {
    backdrop-filter: none;
    z-index: -10;
  }

  .navlinks-container {
    position: absolute;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(209, 208, 218));
    font-size: 1.3rem;
    width: 90%;
    height: 90%;
    color: $text;
    z-index: -10;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    margin-top: 60px;
  }

  .borderbot {
    color: $text;
    border: 2px solid $whitepure;
    padding: 2px 5px;
  }

  .number {
    display: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .nav-transitioning {
    transform: translateY(-100vh);
  }

  .hidden {
    display: none;
    position: absolute;
  }

  #menu-toggle, #menu-close {
    position: absolute;
    color: $offwhite;
    z-index: 20;
  }

  #menu-toggle {
    position: fixed;
    top: 30px;
    right: 5%;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(16, 16, 70, 42.5%);
  }

  #menu-close {
    top: calc(5vh + 25px);
    right: calc(5vw + 5%);
    font-size: 30px;
    color: $text;
  }

  a {
    color: $text;
    font-size: 1.2em;
    transition: box-shadow 0.3s;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    z-index: 10;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }

  .logo {
    width: 10%;
    max-width: 150px;
    margin: auto
  }

  .logo img {
    display: none;
    width: 10%;
  }

  .content-services {
    text-align: center;
    margin: 30px;
  }

  h3 {
    color: $gris;
    font-family: $font-title;
  }

  p {
    font-size: 1.5em;
    color: $text;
    font-family: $font-title;
  }

  h4 {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: $text;
    font-family: $font-title;

    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 3px; 
      background-color: $bluedark;
      margin: 5px auto 0 auto;
    }
  }

  .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;

    h5 {
      font-size: 2.2em;
      margin: 10px;
      font-family: $font-title;
      color: $text;
    }

    p {
      text-align: center;
      font-family: $font-text;
      color: $text;
    }
  }

  .section-flex img {
    width: 350px;
    border-radius: 15px;
  }
// effect zoom
  #zoom-section {
    img {
      transition: transform 0.3s ease;
      cursor: pointer;
    }

     img:hover {
          transform: scale(1.1);
        }
  }

  //end effect zoom
  
  .content-residencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h6 {
      color: $text;
      font-size: 2.2em;
      margin: 20px;
      font-family: $font-title;
      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px; 
        background-color: $bluedark;
        margin: 5px auto 0 auto;
      }
    }

    P {
      color: $text;
      font-family: $font-text;
      font-size: 1.5em;
    }
   
  }

  .section-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    p {
      color: $text;
      font-family: $font-title;
      font-size: 1.9em;
    }
    a {
  width: 100%;
  padding: 10px;
  border: 1px solid $offwhite;
  border-radius: 5px;
  background-color: $bluedark; 
  color: $whitepure;
  cursor: pointer;
    }
    a:hover {
      background-color: $text;
    }
 }

 .content-grid {
  background-image: linear-gradient(to top, rgba(0, .6,.6, 70%), rgba(0,.2,.2,7%)), url("/footer.jpg");
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
  word-spacing: 0.15em;
  line-height: 1.5em;
  font-family: $font-text;
  p, a {
    color: $offwhite;
  }
  .name {
    font-size: 2.5em;
    font-weight: $bold;
  }
  .contact-title {
    font-size: 1.5em;
    font-weight: $bold;
    font-family: $font-title;
  }
 }

 .content-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }
// start pages suministros
.content-box {
  display: flex;
  flex-direction: column;
}

.content-box {
  display: flex;
  margin-left: 20px; 
  max-width: 300px;
  padding-top: 150px;

  h1, p {
    color: $offwhite;
    font-family: $font-title;
    text-align: left; 
    margin: 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 0;
  }
}

.content {
  background-color: rgba(105, 103, 103, 0.5);
  padding: 40px;
}

.content-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $whitegrey;
  padding: 20px;
  h2, p {
    color: $text;
    font-family: $font-text;
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 2em;
  }

  img {
    width: 250px;
    margin: 20px;
  }

  a {
    text-align: left;
    margin: 0px;
    background-color: $bluedark;
    border: solid 2px $bluesolf;
    font-family: $font-title;
    font-size: 1.5em;
    color: $offwhite;
    padding: 5px;
    cursor: pointer;
  }
  a:hover {
    background-color: $bluesolf;
  }
}
// animation section 
#services {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.9s ease-out;

  &.animate {
      opacity: 1;
      transform: translateX(0);
  }
}
// animation end

.section {
  padding: 20px;
  background-color: $whitepure;

  h3 {
    color: $text;
    font-family: $font-title;
    font-size: 2.5em;
    text-align: center; 
    margin-bottom: 30px; 
  }

  .flex-row {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; 
    a {
      color: $whitepure;
      background-color: $bluedark;
      padding: 10px;
    }
  }
}

.content-card {
  flex-direction: column;
  background-color: $whitepure; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  max-width: 300px; 
  text-align: center;

    h4 {
      margin-bottom: 15px; 
      font-size: 1.5em; 
      color: $text;
      font-family: $font-title;
    }

    p {
      font-size: 1em; 
      color: $text;
      font-family: $font-text;
      text-align: left; 
    }
  }


.content-card i {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

.section-buttom {
  text-align: center;
  margin: 30px;
  a {
    background-color: $bluedark;
    border: solid 2px $bluesolf;
    font-family: $font-title;
    font-size: 1.5em;
    color: $offwhite;
    padding: 5px;
  }
  
  a:hover {
    background-color: $bluesolf;
  }
}

// carousel
h5 {
  text-align: center;
  font-size: 2.5em;
  color: $text;
  font-family: $font-title;
  margin: 0;
  margin-top: 50px;
  background-color: $offwhite;
}

.categories {
  position: relative;

  button {
    border: none;
    background-color: transparent;
  }
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

.arrow-left, .arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 25px;
  height: 100%;
  z-index: 99;
  cursor: pointer;
}

.arrow-left {
  left: 2%;
  color: $bluedark;
}

.arrow-right {
  right: 2%;
  color: $bluedark;
}

.carousel-frame {
  display: flex;
  width: 600%;
  transition: transform 0.5s ease-in-out;
}

.carousel-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(100% / 6);
  min-height: 500px;
  padding: 0px 2%;
  scroll-snap-align: start;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carr-pos-1 .carousel-element:nth-child(1),
.carr-pos-2 .carousel-element:nth-child(2),
.carr-pos-3 .carousel-element:nth-child(3),
.carr-pos-4 .carousel-element:nth-child(4),
.carr-pos-5 .carousel-element:nth-child(5),
.carr-pos-6 .carousel-element:nth-child(6) {
  opacity: 2; 
}

.carousel-element img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.carr-pos-1 {
  transform: translateX(0);
}

.carr-pos-2 {
  transform: translateX(calc(-100% / 6));
}
.carr-pos-3 {
  transform: translateX(calc(-100% * 2 / 6));
}
.carr-pos-4 {
  transform: translateX(calc(-100% * 3 / 6));
}
.carr-pos-5 {
  transform: translateX(calc(-100% * 4 / 6));
}
.carr-pos-6 {
  transform: translateX(calc(-100% * 5 / 6));
}

//end pages suministros 

//section contact 
.contenedor1 {
  background: linear-gradient(to bottom, rgba(0, 0, .3, .6), rgba(0, 0, 0, 0)), url("/glass1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // padding: 0px;
}

.contenedor1 {
  display: flex;
  flex-direction: column;
}

.content-form {
  margin-top: 100px;

  h6 {
    text-align: center;
    color: $offwhite;
    margin: 0%;
    font-size: 2em;
  }
}

.formulario {
  width: 350px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid $bluestrong;
  background-color: rgba(49, 49, 49, 0.5);
}

.campo {
  margin-bottom: 30px;
}

label {
  color: $whitepure;
  font-family: 'Arial', sans-serif;
}

.campo label {
  display: block;
  margin-bottom: 5px;
}

.campo input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: transparent; 
}

textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  border-radius: 5px;
  background-color: transparent; 
  color: red;
}

::placeholder {
  color: rgb(243, 234, 234);
}

.send[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 2px solid $bluestrong;
  border-radius: 5px;
  background-color: $bluedark; 
  color: $whitepure;
  cursor: pointer;
}

.send[type="submit"]:hover {
  background-color: $bluesolf;
}

.form1 {
  width: 100%;
  padding: 15px;
  
  h6 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
    color: $offwhite;
  }
  
  .mapa {
    width: 100%;
    iframe {
      width: 100%;
      height: auto;
      min-height: 300px;
      border: 0;
    }
  }
}

 .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    left: 80%;
    animation: burst 1s ease-out;
    animation-fill-mode: forwards;
  }
  
  .whatsapp-btn img {
    width: 100px;
    height: 50px;
  }

  @keyframes burst {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

 /* Start of media queries */

// // Ajustes para pantallas más grandes (tablet)
@media (min-width: 769px) and (max-width: 1024px) {
  .form1 {
    .mapa iframe {
      width: 90%;
      min-height: 450px; 
    }
  }

  .whatsapp-btn {
    left: 90%;
  }
}

@media only screen and (width >= 1024px) {

  nav, .backdrop-transitioning {
    justify-content: flex-end;
    backdrop-filter: none;
    width: 100%;
    height: 10px;
  }

  header {
    display: none;
  }

  .background {
        padding-top: 300px;
      }

  .navlinks{
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1.3rem;
    height: 100%;
    margin-right: 7%;
   a{
    color: $whitepure;
   }
  }

  .nav, li {
    margin-right: 50px;
  }
  
  .nav-transitioning {
    transform: none;
  }

  .hidden {
    position: absolute;
    display: flex;
  }

  #menu-toggle, #menu-close {
    display: none;
  }

  .navlinks-container {
    justify-content: flex-end;
    background: none;
    .fa-solid {
      display: none;
    }
  }
  
  .nav-logo {
    display: block;
    margin-top: 0;
    margin-right: auto;
  }

  .nav-logo img {
    display: block;
    width: 10%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    p, h1, h2 {
      margin: 5px;
      margin-bottom: 20px;
    }
  }

  .content-services {
    margin: 90px;
    p {
      margin-left: 150px;
      margin-right: 150px;
    }
  }
  
  .flexbox {
    padding: 20px;
  
    .section-flex {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;  
    }
  
    .section-flex > div {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
      width: 100%; 
    }
  
    img {
      max-width: 80%;  
      height: auto;
      margin-bottom: 10px; 
    }
  
    h5 {
      margin: 10px 0 5px 0;
      font-size: 1.5em;
    }
  
    p {
      margin: 0;
      padding: 0 10px;
      font-size: 1em;
    }
  }
  
  .background-resi {
    padding: 20px;

    .content-residencia {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px; 
      padding: 50px
    }
    .content-residencia > div {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
      width: 100%; 
    }
    p {
      text-align: left;
    }
  }

  .section-download {
    display: flex;
    flex-direction: row;
    margin: 40px;
    p {
      text-align: left;
      font-size: 1.8em;
      margin-right: 10px;
    }
    a {
      width: 200px;
    }
  }

  .content-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    p, a {
      font-size: 0.90em;
      margin: 3px;
    }
    .contact-title {
      font-size: 1em;
    }
    li {
      margin: 0%;
    }  
  }
  // start pages suministros

  .content-box {
    display: flex;
    flex-direction: column;
  }
  
  .content-box {
    display: flex;
    margin-left: 130px; 
    max-width: 500px;
    padding-top: 0%;
  
  }
  
  .content {
    background-color: rgba(105, 103, 103, 0.5);
    padding: 40px;
  }

  .content-row {
    display: flex;
    flex-direction: row;
    text-align: left;

    div {
      padding: 100px;
    }
    
    h2 {
      font-size: 3em;
    }
  
    img {
      width: 350px;
      margin-left: 120px;
    }
  }
  
  .carousel-element img {
    width: 50%;
    height: 70%;
    margin: 0 auto;
  }

  // contact 

  .contenedor1 {
    flex-direction: row;
    gap: 120px;
    padding-top: 60px;
  }
  .formulario {
    margin-left: 50px;
  }
  .form1 {
    width: 50%;
    margin: 50px;
    h6 {
      margin-top: 40px;
    }
  }

  .whatsapp-btn {
    bottom: 40px;
    left: 94%;
  }
 }
 