
html {
    scroll-behavior: smooth;
  }
  body {
    background-color: transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  nav, .navlinks-container {
    transition: 0.5s;
  }
  nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }
  .nav-logo {
    display: none;
  }
  .backdrop-transitioning {
    backdrop-filter: none;
    z-index: -10;
  }
  .navlinks-container {
    position: absolute;  
    background: linear-gradient(to bottom, rgb(37, 44, 126), rgb(54, 54, 54));
    font-size: 1.3rem;
    width: 90%;
    height: 90%;
    color: $offwhite;
    z-index: -10;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
  }
  .yellow {
    color: $yellow;
  }
  .fullyellow {
    color: $yellow;
    border: 2px solid $yellow;
    padding: 2px 5px; 
  }
  .number {
    display: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .nav, li {
    margin-top: 20px;
  }
  .nav-transitioning {
    transform: translateY(-100vh);
  }
  .hidden {
    display: none;
    position: absolute;
  }
  .menu-toggle, .menu-close {
    position: absolute;
    color: $offwhite;
    z-index: 20;
  }
  .menu-toggle {
    position: fixed;
    top: 30px;
    right: 5%;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(16, 16, 70, 0.425);
  }
  .menu-close {
    top: calc(5vh + 25px);
    right: calc(5vw + 5%);
    font-size: 30px;
  }
  a {
    color: $offwhite;
    transition: box-shadow 0.3s;
  }
  header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    z-index: 10;
  }
  .background {
    background-image: linear-gradient(to bottom, rgba(0, .6,.6, .9), rgba(0,.2,.2,.5)), url("./public/techo1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 300px; 
        h1 {
            color: $offwhite;
            font-family: $font-title;
            font-size: 2rem;
            margin-right: 10%;
            margin-bottom: 100px;
            text-transform: uppercase;
        }
        p {
            color: $offwhite;
            font-family: $font-title;
            font-size: 1.5rem;
        }
      }
  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }