@use "/sass/abstracts/" as *;

.content-background {
    background-image: linear-gradient(to bottom, rgba(0, .6,.6, 90%), rgba(0,.2,.2,50%)), url("/Agricultura.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    p {
        color: $offwhite;
    }
}

.background {
    background-image: linear-gradient(to bottom, rgba(0, .6,.6, 90%), rgba(0,.2,.2,50%)), url("./techo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

        h1 {
        color: $offwhite;
        font-family: $font-title;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
        }

        h2 {
        padding-bottom: 100px;
        color: $offwhite;
        font-family: $font-title;
        font-size: 1.7rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        }

        p {
        color: $offwhite;
        font-family: $font-title;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        }
      }